# Common config for link_nn6000v2
include link_nn6000v2_common.config

# Disable WiFi Support (No WiFi Version)
CONFIG_PACKAGE_kmod-ath11k=n
CONFIG_PACKAGE_kmod-ath11k-ahb=n
CONFIG_PACKAGE_kmod-ath11k-pci=n
CONFIG_PACKAGE_ath11k-firmware-ipq6018=n
CONFIG_PACKAGE_ath11k-firmware-ipq6018-ddwrt=n
CONFIG_PACKAGE_ath11k-firmware-qcn9074=n
CONFIG_PACKAGE_ath11k-firmware-qcn9074-ddwrt=n
CONFIG_PACKAGE_wpad-openssl=n
CONFIG_PACKAGE_wpad-mesh-openssl=n
CONFIG_PACKAGE_hostapd-common=n
