# NSS
CONFIG_IPQ_MEM_PROFILE_512=y
CONFIG_ATH11K_MEM_PROFILE_512M=y
CONFIG_NSS_MEM_PROFILE_HIGH=y
CONFIG_NSS_FIRMWARE_VERSION_11_4=y
CONFIG_PACKAGE_sqm-scripts-nss=y
CONFIG_PACKAGE_kmod-qca-mcs=y
CONFIG_KERNEL_SKB_RECYCLER=y
CONFIG_KERNEL_SKB_RECYCLER_MULTI_CPU=y
CONFIG_PACKAGE_kmod-ath11k-pci=m
CONFIG_NSS_DRV_WIFI_MESH_ENABLE=y
CONFIG_PACKAGE_MAC80211_MESH=y
CONFIG_ATH11K_NSS_MESH_SUPPORT=y

#  NSS kernel drive
CONFIG_PACKAGE_kmod-qca-nss-drv=y
CONFIG_PACKAGE_kmod-qca-nss-drv-igs=y
CONFIG_PACKAGE_kmod-qca-nss-drv-l2tpv2=y
CONFIG_PACKAGE_kmod-qca-nss-drv-lag-mgr=y
CONFIG_PACKAGE_kmod-qca-nss-drv-pppoe=y
CONFIG_PACKAGE_kmod-qca-nss-drv-pptp=y
CONFIG_PACKAGE_kmod-qca-nss-drv-cbm=y
CONFIG_PACKAGE_kmod-qca-nss-drv-dscp=y
CONFIG_PACKAGE_kmod-qca-nss-drv-ecm=y
CONFIG_PACKAGE_kmod-qca-nss-drv-oam=y
CONFIG_PACKAGE_kmod-qca-nss-drv-ports=y
CONFIG_PACKAGE_kmod-qca-nss-drv-pptp-l2tpv2=y
CONFIG_PACKAGE_kmod-qca-nss-drv-qdisc=y
CONFIG_PACKAGE_kmod-qca-nss-drv-redir=y
CONFIG_PACKAGE_kmod-qca-nss-drv-rtt=y
CONFIG_PACKAGE_kmod-qca-nss-drv-tls=y
CONFIG_PACKAGE_kmod-qca-nss-drv-tun6rd=y
CONFIG_PACKAGE_kmod-qca-nss-drv-virt-dev=y

# NSS Crypto
CONFIG_PACKAGE_kmod-qca-nss-drv-crypto=y
CONFIG_PACKAGE_kmod-qca-nss-drv-ipsec=y
CONFIG_PACKAGE_kmod-qca-nss-drv-ocsp=y
CONFIG_PACKAGE_kmod-qca-nss-drv-tls-ciphers=y

# NSS Firmware
CONFIG_PACKAGE_qca-nss-drv-firmware=y
