config smartdns
	option enabled '0'
	option port '5053'
	option auto_set_dnsmasq '0'
	option tcp_server '1'
	option tls_server '0'
	option doh_server '0'
	option ipv6_server '1'
	option bind_device '1'
	option dualstack_ip_selection '1'
	option serve_expired '1'
	option cache_persist '1'
	option resolve_local_hostnames '1'
	option force_https_soa '1'
	option seconddns_port '6553'
	option seconddns_tcp_server '1'
	option log_output_mode 'file'
	option speed_check_mode 'ping,tcp:443,tcp:80'
	option response_mode 'first-ping'
	option prefetch_domain '1'
	option old_port '5053'
	option old_auto_set_dnsmasq '0'

config domain-rule

config client-rule
	option enabled '0'
	option dualstack_ip_selection '1'
	option force_https_soa '1'

config ip-rule

config server
	option enabled '1'
	option name 'Ali'
	option ip '223.5.5.5'
	option type 'udp'

config server
	option enabled '1'
	option name 'DNSPod'
	option ip '119.29.29.29'
	option type 'udp'

config server
	option enabled '1'
	option name '114'
	option ip '114.114.114.114'
	option type 'udp'

config server
	option enabled '1'
	option name 'Google'
	option ip '8.8.8.8'
	option type 'udp'

config server
	option enabled '1'
	option name 'AliV6'
	option ip '2400:3200::1'
	option type 'udp'

config server
	option enabled '1'
	option name 'DNSPodV6'
	option ip '2402:4e00::'
	option type 'udp'

config server
	option enabled '1'
	option name 'GoogleV6'
	option ip '2001:4860:4860::8888'
	option type 'udp'
